<router-outlet></router-outlet>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<a href="#" class="navbar-brand">Blog<b>ging</b></a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-between">
		<div class="navbar-nav">
			<a [routerLink]="getRolePage()" class="nav-item nav-link">Home</a>
			<a routerLink="/about" class="nav-item nav-link">About</a>

			<!-- <a routerLink="#" class="nav-item nav-link active">Pricing</a> -->
			<a [routerLink]="getRolePage()" class="nav-item nav-link">Blog</a>
			<a routerLink="/contactus" class="nav-item nav-link">Contact</a>
		</div>
		
		<div class="navbar-nav justify-content-end ml-auto action-buttons">
			<div class="nav-item  dropdown">
				<!-- <a routerLink="/"  class="nav-link dropdown-toggle mr-4">Login</a> -->
                <div class="dropdown-menu action-form">
					<form action="/examples/actions/confirmation.php" method="post">
						<p class="hint-text">Sign in with your social media account</p>
						<div class="form-group social-btn clearfix">
							<a href="#" class="btn btn-secondary facebook-btn float-left"><i class="fa fa-facebook"></i> Facebook</a>
							<a href="#" class="btn btn-secondary twitter-btn float-right"><i class="fa fa-twitter"></i> Twitter</a>
						</div>
						<div class="or-seperator"><b>or</b></div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Username" required="required">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Password" required="required">
						</div>
						<input type="submit" class="btn btn-primary btn-block" value="Login">
						<div class="text-center mt-2">
							<a href="#">Forgot Your password?</a>
						</div>
					</form>
                </div>
			</div>
			<div class="nav-item dropdown">
				<!-- <button type="button" class="btn bg-white btn-sm btn-outline-primary mr-2 p-2" data-dismiss="modal" data-toggle="modal"  data-target="#editModal">Update Profile</button> -->
                <!-- <div class="modal fade" id="editModal" tabindex="-1" #myModel role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
					  <div class="modal-content">
						<div class="modal-header">
						  <h5 class="modal-title" id="editModalLabel">Update Profile</h5>
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<div class="modal-body">
						  <form  #UpdateForm="ngForm">
							<img  class="card-img-top mb-2" alt="..."/>
							<div class="custom-file">
							  <input type="file" id="image" name="image"  (change)="onFileSelected($event)" class="custom-file-input" >
							  <label class="custom-file-label" for="image">Choose file</label>
							</div>
							<div class="form-group">
							  <label for="editTitle">Name</label>
							  <input type="text" class="form-control" id="title"   name="title" placeholder="Enter Name" required>
							</div>
							<div class="form-group">
							  <label for="editDescription">Email</label>
							  <input class="form-control" id="description"   name="description" rows="3" placeholder="Enter Email" required/>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							  <input type="submit"   class="btn btn-primary" value="Save Changes"/>
							</div>
						  </form>
						</div>
						
					  </div>
					</div>
				  </div> -->
				<button (click)="Logout()" class="btn btn-danger dropdown-toggle sign-up-btn">Logout</button>
                <div class="dropdown-menu action-form">
					<form action="/examples/actions/confirmation.php" method="post">
						<p class="hint-text">Fill in this form to create your account!</p>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Username" required="required">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Password" required="required">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Confirm Password" required="required">
						</div>
						<div class="form-group">
							<label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms &amp; Conditions</a></label>
						</div>
						<input type="submit" class="btn btn-primary btn-block" value="Sign up">
					</form>
				</div>
			</div>
        </div>
	</div>
</nav>

