<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto&display=swap" rel="stylesheet">
<app-navbar></app-navbar>
<div>
	<!-- START CONTACT SECTION -->
	<div class="container">
		<div class="section-contact">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-10 col-xl-8">
					<div class="header-section text-center">
						<h2 class="title">
							<span class="dot"></span>
							<!-- <span class="big-title">CONTACT US</span> -->
              SEND US A MESSAGE
						</h2>
						<p class="description">Welcome to Blogging.Send us your problem and Feedback.We are happy to respond your message</p>
						
					</div>
				</div>
			</div>
			<div class="form-contact">
				<form (ngsubmit)="submit()" #contactForm="ngForm">
					<div class="row">
						<div class="col-md-6">
							<div class="single-input">
								<i class="fas fa-user"></i>
								<input type="text" id="name" name="name" class="form-control"  [(ngModel)]="name" name="name" required placeholder="ENTER YOUR NAME">
							</div>
							<span *ngIf="name && name.trim().length <5 " class="text-danger"  data-ng-message="name">
								Name is Required
							 </span>
						</div>
						<div class="col-md-6">
							<div class="single-input">
								<i class="fas fa-envelope"></i>
								<input type="email" id="email" name="email" class="form-control"  [(ngModel)]="email" name="email" placeholder="ENTER YOUR EMAIL" required>
							</div>
							<span *ngIf="email && email.trim().length <5 " class="text-danger"  data-ng-message="email">
                                email is Required
                             </span>
						</div>
						<div class="col-md-6">
							<div class="single-input">
								<i class="fas fa-phone"></i>
								<input type="text" name="number" id="number" name="number" class="form-control"  [(ngModel)]="number" name="number" placeholder="ENTER YOUR PHONE NUMBER" required>
							</div>
							<span *ngIf="number && number.trim().length <5 " class="text-danger"  data-ng-message="number">
								Number is Required
							 </span>
						</div>
						<div class="col-md-6">
							<div class="single-input">
								<i class="fas fa-check"></i>
								<input type="text" id="subject" name="subject" class="form-control"  [(ngModel)]="subject" name="subject" placeholder="ENTER YOUR SUBJECT" required>
							</div>
							<span *ngIf="subject && subject.trim().length <5 " class="text-danger"  data-ng-message="subject">
								subject is Required
							 </span>
						</div>
						<div class="col-12">
							<div class="single-input">
								<i class="fas fa-comment-dots"></i>
								<textarea placeholder="ENTER YOUR MESSAGE" id="message" name="message" class="form-control"  [(ngModel)]="message"  required></textarea>
							</div>
							<span *ngIf="message && message.invalid && message.trim().length <5 " class="text-danger"  data-ng-message="message">
								message is Required
							 </span>
						</div>
						<div class="col-12">
							<div class="submit-input text-center">
								<input type="submit" [disabled]=" contactForm.invalid" (click)="submit()" name="submit" value="SUBMIT NOW">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- / END CONTACT SECTION -->
	</div>

<!-- Image credit: Oliver Sjöström https://www.pexels.com/photo/body-of-water-near-green-mountain-931018/  -->