@media (max-width: 768px) {
    .row-cols-2.row-cols-md-2 {
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scroll-snap-type: x mandatory;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .row-cols-2.row-cols-md-2::-webkit-scrollbar {
      display: none;
    }
    .col-md-06 {
      flex: 0 0 calc(50% - 16px);
      margin-right: 8px;
      margin-left: 8px;
      scroll-snap-align: center;
    }
   
  }
  #description{
    height: 200px;
  }
  .card-description{
    height:120px;
    overflow-y: scroll;
  }
  .card-width{
    width: 350px;
   gap:20px;
  }
  .w-fit{
  width:fit-content
  }
  .card-text{
    height:150px;
  }
  .card-title{
    height:25px;
    overflow:hidden;
  }
  .card-img-top{
    height: 250px;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-fullwidth {
  width: 100%;
  /* border-radius: 10px; */
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 14px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-fullwidth:hover {
  background-color: #3e8e41;
}

.card-text {
  font-size: 0.875rem;
  color: #666;
  height: 5rem;
  overflow: hidden;
  text-align: justify;
  text-overflow: ellipsis;
}
.block {
    /* background: #fff; */
   
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    color: rgb(0, 255, 149);
    /* box-shadow: 0 35px 80px rgba(68, 0, 255, 0.938); */
    margin: auto;
  }
  .block-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .block-text {
    font-size: 50px;
    font-weight: 700;
  }
  .fade-animation {
      -webkit-animation-name: fade-in-up;
      animation-name: fade-in-up;
      -webkit-animation-duration: 1.3s;
      animation-duration: 1.3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
  }
  
  @-webkit-keyframes fade-in-up {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 20%, 0);
      transform: translate3d(0, 20%, 0);
  }
  75% {
      opacity: 0.9;
  }
  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
  }
  }
  
  @keyframes fade-in-up {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 20%, 0);
      transform: translate3d(0, 20%, 0);
  }
  75% {
      opacity: 0.9;
  }
  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
  }
  }
  