 
               
                
                <div class="wrapper">
                    <!-- Sidebar  -->
                    <nav id="sidebar">
                        <div class="sidebar-header">
                          <h3>Blogging</h3>
                        </div>
                      
                        <ul class="list-unstyled components">
                          <p>Admin Dashboard</p>
                          <li class="active">
                            <a routerLink="/admin" data-toggle="collapse" aria-expanded="false">Home</a>
                          </li>
                          <li class="has-submenu">
                            <a data-toggle="collapse" href="#userSubmenu" aria-expanded="false">Users</a>
                            <ul class="collapse list-unstyled" id="userSubmenu">
                              <li><a routerLink="/approval">Pending Users<span class="ml-4 bg-white pl-1 pr-1 rounded-circle  text-danger">{{pendingUserList ? pendingUserList.length : 0}}</span></a></li>
                              <li><a routerLink="/alluser">All Users</a></li>
                            </ul>
                          </li>
                          <li class="has-submenu">
                            <a data-toggle="collapse" href="#blogSubmenu" aria-expanded="false">Blogs</a>
                            <ul class="collapse list-unstyled" id="blogSubmenu">
                              <li><a routerLink="/pendingblog">Pending Blogs<span class="ml-4 bg-white pl-1 pr-1 rounded-circle  text-danger">{{pendingBlogList ? pendingBlogList.length : 0}}</span></a></li>
                              <li><a routerLink="/allblog">All Blogs</a></li>
                            </ul>
                          </li>
                        </ul>
                      
                        <ul class="list-unstyled CTAs">
                          <li>
                            <a (click)="Logout()">Logout</a>
                          </li>
                        </ul>
                      </nav>
                      
                    <!-- Page Content  -->
                    <div id="content">
                
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <div class="container-fluid">
                             <h1 class="text-center text-primary">Dashboard</h1>
                            
                    </div>
                                
                        </nav>
                        <div class="container" >
                            <div class="table-wrapper">
                              
                              <table class="table table-striped table-hover">
                                <thead>
                                  <tr>
                                    <th>Sr</th>
                                    <th>Title</th>
                                    <th>AuthorId</th>
                                    <th>Status</th>
                                    <th>View</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let blog of userList; let i=index ">
                                    <td>{{i+1}}</td>
                                    <td>{{blog.title}}</td>
                                    <td>{{blog.AuthorId}}</td>
                                    <td>{{blog.status}}</td>
                                    <td>
                                      <button type="button" data-dismiss="modal" data-toggle="modal" (click)="editblog(blog)" data-target="#editModal" class="btn btn-primary">View</button>
                                    </td>
                                  </tr>
                                  <tr *ngIf="editList">
                                    <td colspan="5">
                                      <div class="modal fade" id="editModal" tabindex="-1" #myModel role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="editModalLabel">Edit Card</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              <form #UpdateForm="ngForm">
                                                <img src="http://localhost:8080/upload/{{editList.image}}" class="card-img-top mb-2" alt="..."/>
                                                <div class="form-group">
                                                  <h2 for="editTitle">{{editList.title}}</h2>
                                                </div>
                                                <div class="form-group">
                                                  <label for="editDescription">{{editList.description}}</label>
                                                </div>
                                              </form>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                    </div>
                </div>
                
                
               
                